{% load static %}
<!DOCTYPE html>
<html>
   <head>
        <title>HOME PAGE</title>
        <link rel="stylesheet"href="{% static 'css/style.css' %}">
       
            <body>
            
            
            <form action="" method="">
                <h1 style="color:rgb(12, 85, 61); text-align:center;">Welcome to Login Page</h1>
                Username:<input type="text"name=abc><br>
                Password:<input type="password"name=password><br>
                <input type="submit"value="login">
            </form>
        </body>
    </head>
    </html>