 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center"><b>Register New Account</b></h1><br>
    <CENTER>
    <form> 
        {% csrf_token %}
        <table cellspacing="18"> 
            <tr> 
                <td> Name </td> <td> <input type=”text” name="name" required> </td> 
            </tr> 
            <tr> <td> Place </td> <td> <input type=”Password” name="pwd" required> </td> 
            </tr> 
            <tr> 
                <td> Email </td> <td> <input type=”text” name="email" required> </td> 
            </tr> 
            <tr> 
                <td> Address </td> <td><textarea name="" id="" cols="21" rows="4"></textarea>  </td> 
            </tr> 
            <tr> 
                <td> Username </td> <td> <input type=”text” name="usename" required> </td> 
            </tr> 
            <tr> 
                <td> Password </td> <td> <input type=”text” name="password" required> </td> 
            </tr> 
            <tr> 
                <td> Confirm Password </td> <td> <input type=”text” name="confirm password" required> </td> 
            </tr> 
            <tr>
                <td></td><td align="right"><input type="submit" value="Register"></td>
            </tr>
        </table> 
        </form> 
    </CENTER>
    
</body>
</html>